---
import ProfileCard from "../components/ProfileCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
export const prerender = true;
---

<MainLayout title="Ibrahim Zaman">
  <div class="mx-10 sm:mx-60 mt-10 sm:mt-20">
    <ProfileCard />
  </div>
</MainLayout>
