<div
  class="fixed bottom-0 w-full flex justify-between bg-gradient-to-r from-gray-700 via-gray-900 to-black text-white flex-col sm:flex-row sm:gap-4 px-4 md:px-[14rem] py-4 bg-transparent items-center align-middle"
>
  <div>
    <h1>Copyright © 2019-23 by Ibrahim Zaman.</h1>
  </div>
  <div
    class="flex flex-col sm:flex-row gap-3 sm:gap-6 items-center justify-center sm:mt-0 mt-4"
  >
    <a
      href="https://github.com/abrahimzaman360"
      target="_blank"
      class="hover:underline">Github</a
    >
    <a href="/downloads" class="hover:underline">Other Social Media</a>
  </div>
</div>
